@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import "tailwindcss";

.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}
.jetbrains-mono-regular {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}
:root{
  --bg-color:#274b6f;
  --bg-color: #315a46 ;
}
::selection{
  color: gray;
  background-color:#223d30;
}
html {
  scroll-behavior: smooth;
}
body{
  background-color: var(--bg-color);
}
.mat {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-color) ;
    background-image:
      radial-gradient(circle, rgba(255, 255, 255, 0.4) 0.25px, transparent 1px),
      linear-gradient(to right, rgba(255, 255, 255, 0.3) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
    background-size: 15px 15px, 75px 75px, 75px 75px;
  }